body {
    background: url("../assets/background1.jpg") fixed no-repeat;
}

.divider.big {
    margin-bottom: 35px !important;
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.bar .small-margin {
    margin: 10px 0 10px 0 !important;
}

.father {
    position: relative;
    display: inline-block
}

.muscle-checkbox {
    position: absolute !important;
}

.choose-experience .button {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

